.container {
  width: 90%;
  padding-top: 67px;
}
.container button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: 2px #454545 solid;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.on {
  background-color: #f69185;
}

.off {
  background-color: #aee2a4;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 0;
    order: 2;
    margin: 0 auto;
  }
}
