.container {
  display: flex;
  flex-direction: column;
}

.container header {
  background-color: #f8f8f8;
  height: 80px;
  padding: 20px;
  margin-bottom: 50px;
  border-bottom: 5px #e7e7e7 solid;
  display: flex;
  align-items: center;
}
.container h1 {
  margin: 0;
  font-size: 1.5rem;
}
.container h2 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

.status {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status section {
  text-align: center;
  margin: 10px;
  flex: 1;
}
.footer {
  width: 100%;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .container header {
    text-align: center;
  }
  .status {
    flex-direction: column;
  }
}
